body{
    box-shadow: 100px 100px 400px #5c498d;
    background-color: #201b2c;
    border-radius:50px  ;
    display: flex;
    flex-direction: column;

}
img{
    width: 300px;
    text-align: center;
    margin: 100px;
}
.conteudo{
    color: rgb(23, 221, 175);
    text-align: center;
}